.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 400;
}
/* shared style */
.text_primary {
  color: #fd6e0a;
}
/* nav style */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
.nav-title {
  font-weight: 800px;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}
ul a {
  text-decoration: none;
  font-size: 20px;
}
.dark_2 {
  color: #474747;
}
.btn_primary {
  background-color: #fd6e0a;
  font-weight: bold;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  width: 150px;
  height: 64px;
}
